body {
	background-color:black;
	color:#fff;
	font-family:Monospace;
	font-size:1.2em;
}

table {
	margin:0 auto;
}

ul.errorlist {
	color:#ff0000;
	font-weight:bold;
	list-style:none;
}

p {
	text-align:center;
}

a {
	color:#00ff00;
}
